<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Télécharger CSV</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='scripts.js') }}" defer></script>
</head>
<body>
    <header>
        <a href="{{ url_for('maestria') }}">
            <img src="{{ url_for('static', filename='photo_mae.png') }}" alt="Logo">
        </a>
        <a href="{{ url_for('static', filename='User_Manual.pdf') }}" class="download-button" download>
            User Manual
        </a>
    </header>
    <div class="container">
        <button id="menu-toggle" class="menu-toggle">☰</button>
        <div class="sidebar" id="sidebar">

            <ul>
                <li><a href="{{ url_for('maestria') }}">Home</a></li>
                <li><a href="{{ url_for('data_formats') }}">Data Formats</a></li>
                <li><a href="{{ url_for('tutorials') }}">Tutorials</a></li>
                <li><a href="{{ url_for('maestria') }}">What is Maestria?</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </div>
        <div class="sidebar-content" id="sidebar-content">
            <h2>Upload your datas</h2>
            <form method="post" action="/upload" enctype="multipart/form-data">
                <label for="file">Select files <br> .csv or .xlsx </label>
                <input type="file" name="file" id="file" multiple accept=".csv,.xlsx" onchange="handleFileSelection()">
                <div id="file-names"></div>

                <label class="custom-checkbox">
                    <input type="checkbox" name="use_default_csv" id="use_default_csv">
                    <span class="checkmark"></span>
                    <a href="{{ url_for('static', filename='default.csv') }}" download class="checkbox-label">
                        Default CSV file
                    </a>
                </label>






                <div class="select-container">
                    <h5 for="orientation">Choose CSV orientation:</h5>
                    <select name="orientation" id="orientation" class="styled-select">
                        <option value="rows">Rows</option>
                        <option value="columns">Columns</option>
                    </select>
                </div>

                <input type="submit" value="Submit" id="upload-btn" disabled>
            </form>

            <form method="post" action="/submit-answers">
                <h3>Formulary :</h3>
                <div class="vertical-separator"></div>
                <h4>ECG</h4>
                <label for="question1">M0-LAESV-3D: </label>
                <input type="number" name="question1" id="question1" step="any" value="0" required>
                <br>
                <label for="question2">M0-LVED-3D : </label>
                <input type="number" name="question2" id="question2" step="any" value="0" required>
                <br>
                <label for="question3">M0-LA-tot-EmF : </label>
                <input type="number" name="question3" id="question3" step="any" value="0" required>
                <br>
                <label for="question4">M0-LA-strain-conduit : </label>
                <input type="number" name="question4" id="question4" step="any" value="0" required>
                <br>
                <div class="vertical-separator"></div>
                <h4>Clinical</h4>
                <label for="question5">GLYC : </label>
                <input type="number" name="question5" id="question5" step="any" value="0" required>
                <br>
                <label for="question6">Urea : </label>
                <input type="number" name="question6" id="question6" step="any" value="0" required>
                <br>
                <div class="vertical-separator"></div>
                <h4>Metabolites</h4>
                <label for="question7">Arginine : </label>
                <input type="number" name="question7" id="question7" step="any" value="0" required>
                <br>
                <label for="question8">Met-MetSufoxide : </label>
                <input type="number" name="question8" id="question8" step="any" value="0" required>
                <br>
                <label for="question9">Kynurenine : </label>
                <input type="number" name="question9" id="question9" step="any" value="0" required>
                <br>
                <input type="submit" value="Submit Answers" class="button-style">
            </form>
        </div>

    </div>
    <div class="main-content aligned-content">
        <div class="header-container">
                <h1>Echocardiography Strain</h1>
                <a href="https://www.sciencedirect.com/science/article/pii/S1875213624000160?via%3Dihub" class="index-button2">See the paper</a>
            </div>

        <ul class="variables-list">
            <b>Score ECG : </b>
            <li>- M0-LVESV-3D : <i>Left Ventricular End-Systolic Volume</i></li>
            <li>- M0-LVED-3D : <i>Left Ventricular End-Diastolic Volume</i></li>
            <li>- M0-LA-tot-EmF : <i>Left Atrium Emptying Fraction</i></li>
            <li>- M0-LA-strain-conduit : <i>Left Atrial Strain</i></li>


        </ul>

        <ul class="variables-list">
            <b>Score Clinical : </b>
            <li>- GLYC : <i>Glycémie</i> </li>
            <li>- Urea </li>
        </ul>

        <ul class="variables-list">
            <b>Score Metabolites : </b>
            <li>- Arginine </li>
            <li>- Met-MetSufoxide : <i>Methionine Sulfoxide</i></li>
            <li>- Kynurenine </li>
        </ul>

    </div>
</body>
</html>

















