<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Télécharger CSV</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='scripts.js') }}" defer></script>

</head>
<body>
    <header>
        <a href="{{ url_for('maestria') }}">
            <img src="{{ url_for('static', filename='photo_mae.png') }}" alt="Logo">
        </a>
        <a href="{{ url_for('static', filename='User_Manual.pdf') }}" class="download-button" download>
            User Manual
        </a>
    </header>
    <div class="container">
        <button id="menu-toggle" class="menu-toggle">☰</button>
        <div class="sidebar" id="sidebar">

            <ul>
                <li><a href="{{ url_for('maestria') }}">Home</a></li>
                <li><a href="{{ url_for('data_formats') }}">Data Formats</a></li>
                <li><a href="{{ url_for('tutorials') }}">Tutorials</a></li>
                <li><a href="{{ url_for('maestria') }}">What is Maestria?</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </div>

    </div>


    <div class="button-wrappers">
        <div class="button-container">
            <button class="index-button" onclick="window.location.href='/index'">Sinus Rhythm <br> Restoration</button>
            <button class="index-button" onclick="window.location.href='/exemple2'">AF Progression</button>
            <button class="index-button" onclick="window.location.href='/exemple3'">Treatment Response</button>
        </div>

        <div class="button-container single-button">
            <button class="index-button" onclick="window.location.href='/index'">Stroke Risk</button>
        </div>

    </div>





</body>
</html>
