<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Graphiques des Fichiers CSV</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='scripts.js') }}" defer></script>
</head>
<body>
    <header>
        <a href="{{ url_for('maestria') }}">
            <img src="{{ url_for('static', filename='photo_mae.png') }}" alt="Logo">
        </a>
        <a href="{{ url_for('static', filename='User_manual.pdf') }}" class="download-button" download>
            User Manual
        </a>
    </header>
    <div class="container">
        <button id="menu-toggle" class="menu-toggle">☰</button>
        <div class="sidebar" id="sidebar">

            <ul>
                <li><a href="{{ url_for('maestria') }}">Home</a></li>
                <li><a href="{{ url_for('data_formats') }}">Data Formats</a></li>
                <li><a href="{{ url_for('tutorials') }}">Tutorials</a></li>
                <li><a href="{{ url_for('maestria') }}">What is Maestria?</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </div>
        <div class="main-content">

            <div style="text-align: center;">
                {% for patient in plot_paths %}
                    <div>
                        <h2>ID {{ patient.patient_name }}</h2>
                        {% for plot_path in patient.plots %}
                            <img src="{{ url_for('static', filename=plot_path) }}" alt="Graphique des réponses", width="700", height="500">
                            <br>
                            <a href="{{ url_for('static', filename=plot_path) }}" download="graphique_{{ loop.index }}.png" class="button-style">Download</a>
                            <br>
                        {% endfor %}
                    </div>
                    <br>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>














